<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <title>Lacmhacarh</title>
</head>
<body>

  <!-- Header Image and Left Side Nav Links -->
  <div class="row fullWidth collapse outerNav">
    <div class="row fullWidth collapse absoluteCenter">
      <nav class="top-bar large-12 medium-12 small-12 columns" data-topbar role="navigation" data-options="is_hover:true">
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="/">Lacmhacarh</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <!-- Right Side Nav Links -->
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li>
              <a href="#">Random Link</a>
            </li>

            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">About</a>
              <ul class="dropdown">
                <li class="title back js-generated">
                  <h5><a href="javascript:void(0)">Back</a></h5>
                </li>
                <li class="has-dropdown">
                  <a href="#">Dropdown</a>
                  <ul class="dropdown">
                    <li class="title back js-generated">
                      <h5><a href="javascript:void(0)">Back</a></h5>
                    </li>
                    <li><a href="#">Something here</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <%- if current_user -%>
              <li class="avatar"><%= avatar(38) %></li>
              <li><%= link_to current_user.username, user_path(current_user) %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <li><%= link_to 'Register', new_user_registration_path %></li>
            <%- end -%>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <!-- Body -->

  <div class="row fullWidth">

    <!-- Main Content -->
    <!-- <div class="large-12 medium-12 small-12 columns" role="content"> -->

      <%- flash.each do |key, value| -%>
      <div class="success label">
        <%= value %>
      </div>
      <%- end -%>

      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_tag do %>
      $(function(){
        $(document).foundation();
      });
      <% end %>

    <!-- </div> -->
  </div>

  <!-- Footer -->
  <footer class="row fullWidth">
    <div class="large-12 medium-12 small-12 columns"><hr/>
      <div class="row">
        <div class="large-6 medium-6 small-6 columns">
          <p>© Copyright 2014 Daniel Bonnell</p>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
