<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <title>Lacmhacarh</title>
</head>
<body>

  <!-- Header Image and Left Side Nav Links -->

  <div class="row collapse">
    <nav class="top-bar large-12 medium-12 small-12 columns" data-topbar role="navigation" data-options="is_hover:true">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">Lacmhacarh</a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <!-- Right Side Nav Links -->
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Articles</a>
            <ul class="dropdown">
              <li class="title back js-generated">
                <h5><a href="javascript:void(0)">Back</a></h5>
              </li>
              <li class="has-dropdown">
                <a href="#">The Abh</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">Society</a></li>
                  <li><a href="#">Culture</a></li>
                  <li><a href="#">Names</a></li>
                  <li><a href="#">Clans</a></li>
                  <li><a href="#">Abh Profiles</a></li>
                  <li><a href="#">Human Profiles</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">The Empire</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Lacmhacarh</a></li>
                  <li><a href="#">Anthem</a></li>
                  <li><a href="#">Rival Nations</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">Star Forces</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">Ships</a></li>
                  <li><a href="#">Weapons</a></li>
                  <li><a href="#">Anti-Matter</a></li>
                  <li><a href="#">Planar Space</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">Baronh</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">Evolution</a></li>
                  <li><a href="#">Measurements</a></li>
                  <li><a href="#">Alphabet</a></li>
                  <li><a href="#">Dictionary</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">Specials</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">Interviews</a></li>
                  <li><a href="#">Song Lyrics</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">Merchandise</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">Novels</a></li>
                  <li><a href="#">Soundtracks</a></li>
                  <li><a href="#">Radio Dramas</a></li>
                  <li><a href="#">DVDs</a></li>
                  <li><a href="#">Posters</a></li>
                  <li><a href="#">Games</a></li>
                  <li><a href="#">Models</a></li>
                  <li><a href="#">Misc</a></li>
                </ul>
              </li>

              <li><a href="#">FAQ</a></li>
            </ul>
          </li>

          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Gallary</a>
            <ul class="dropdown">
              <li class="title back js-generated">
                <h5><a href="javascript:void(0)">Back</a></h5>
              </li>
              <li><a href="#">Seikai no Danshou</a></li>
              <li><a href="#">Seikai no Monshou</a></li>
              <li><a href="#">Seikai no Senki</a></li>
              <li><a href="#">Seikai no Senki II</a></li>
              <li><a href="#">Seikai no Senki III</a></li>
              <li><a href="#">Wallpapers</a></li>
              <li><a href="#">Fan Art</a></li>
            </ul>
          </li>

          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Resources</a>
            <ul class="dropdown">
              <li class="title back js-generated">
                <h5><a href="javascript:void(0)">Back</a></h5>
              </li>
              <li><a href="#">Anime Reviews</a></li>
              <li><a href="#">Novel Reviews</a></li>
              <li><a href="#">Manga Reviews</a></li>
              <li><a href="#">Fan Fiction</a></li>
              <li><a href="#">Downloads</a></li>
            </ul>
          </li>

          <li class="divider"></li>
          <li>
            <a href="#">Forums</a>
          </li>

          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">About</a>
            <ul class="dropdown">
              <li class="title back js-generated">
                <h5><a href="javascript:void(0)">Back</a></h5>
              </li>
              <li class="has-dropdown">
                <a href="#">Government</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">Constitution</a></li>
                  <li><a href="#">Regulations</a></li>
                  <li><a href="#">Leadership</a></li>
                  <li><a href="#">Immigration</a></li>
                  <li><a href="#">Defense</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">About Us</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5><a href="javascript:void(0)">Back</a></h5>
                  </li>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Copyright Policy</a></li>
                  <li><a href="#">Canon Policy</a></li>
                  <li><a href="#">Affiliates</a></li>
                  <li><a href="#">Link Us!</a></li>
                </ul>
              </li>

              <li><a href="#">National Archive</a></li>
              <li><a href="/lacmhacarh">Blog: Lacmhacarh</a></li>

            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <!-- Header Foreground Image -->
    <div class="large-12 medium-12 small-12 columns header-logo">
      <div class="header-logo-text">The Abh <br />Nation</div>
    </div>
  </div>

  <!-- Breadcrumbs -->
  <div class="row">
    <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="#">Lacmhacarh</a></li>
      <li role="menuitem"><a href="#">About</a></li>
      <li role="menuitem" class="current"><a href="#">Blog</a></li>
    </nav>
  </div>

  <!-- Body -->
  <div class="row">
    <!-- Side Bar -->
    <aside class="large-2 medium-3 small-3 columns">
      <ul class="side-bar">
        <%- if current_user -%>
        <li>
          <h5><%= current_user.username %></h5>
        </li>
        <li class="avatar"><%= avatar %></li>
        <li><%= link_to "My Account", user_path(current_user) %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <%- end -%>
      </ul>

      <ul class="side-bar">
        <li>Something</li>
        <li>Something else</li>
        <li>Blah</li>
        <li>Etc.</li>
        <li>...</li>
      </ul>
      <div class="panel">
        <h5>Featured</h5>
        <p>Some random text here.</p>
        <a href="#">Read More →</a>
      </div>
    </aside>

    <!-- Main Content -->
    <div class="large-10 medium-9 small-9 columns" role="content">

      <%- flash.each do |key, value| -%>
      <div class="success label">
        <%= value %>
      </div>
      <%- end -%>

      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_tag do %>
      $(function(){
        $(document).foundation();
      });
      <% end %>

    </div>
  </div>

  <!-- Footer -->
  <footer class="row">
    <div class="large-12 medium-12 small-12 columns"><hr/>
      <div class="row">
        <div class="large-6 medium-6 small-6 columns">
          <p>© Copyright 2014 Daniel Bonnell</p>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
